.testimonials {
    padding: 0 30px 50px;
}
.swiper-slide {
    background: var(--second-color);
    display: flex;
    align-items: center;
    border-radius: 6px;
}
.swiper-slide img {
    width: 50%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}
.testimonial {
    max-width: 50%;
    text-align: center;
    padding: 20px;
    color: white;
    position: relative;
}
.testimonial h2 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}
.testi {
    position: absolute;
}
/* تغيير أزرار التنقل */
.swiper-button-next,
.swiper-button-prev {
    color: var(--main-color); /* تغيير لون الأزرار */
}
/* تغيير النقاط */
.swiper-pagination-bullet {
    background: var(--main-color); /* تغيير لون النقاط */
}
@media (max-width: 465px) {
    .testimonial {
        font-size: 12px;
    }
}