.testimonials {
    padding: 0 30px 50px;
    background: linear-gradient(45deg, var(--black-color), var(--danger-color) 50%, var(--black-color));
}
.swiper {
    border-radius: 6px;
    border: 2px solid var(--black-color);
    box-shadow: 0 0 5px var(--black-color);
    overflow: hidden;
}
.swiper-slide {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.swiper-slide img {
    width: 50%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}
.testimonial {
    max-width: 50%;
    text-align: center;
    padding: 20px;
    color: white;
    position: relative;
}
.testimonial h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
}
.testi {
    position: absolute;
    bottom: -80px;
    right: 15px;
}
/* تغيير أزرار التنقل */
.swiper-button-next,
.swiper-button-prev {
    color: var(--white-color); /* تغيير لون الأزرار */
}
/* تغيير النقاط */
.swiper-pagination-bullet {
    background: var(--black-color); /* تغيير لون النقاط */
}
@media (max-width: 465px) {
    .testimonial {
        font-size: 12px;
    }
}