.any-law {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
}
.any-law::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1119;
    z-index: 1;
}
.any-law-info {
    line-height: 1.8;
    letter-spacing: 1px;
    font-size: 18px;
    color: var(--white-color);
    padding: 10px 20px;
    text-align: right;
    position: relative;
    z-index: 10;
}
.any-law-info h1 {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    color: lavender;
    text-align: center;
}
.any-law-info ul {
    padding: 0 10px;
}
.any-law-info ul li {
    font-size: 18px;
}