.team {
    padding: 0 30px 50px;
    background-image: url("../../image/Djnj953W4AAFi0R.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 2px solid var(--orange-color);
    border-bottom: 2px solid var(--orange-color);
    overflow: hidden;
}
.team .team-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}
.team .team-card .icon {
    position: absolute;
    color: var(--orange-color);
    right: 20px;
    transform: skew(36deg, -45deg);
    z-index: 5;
    font-size: 16px;
    text-shadow: 0 0 1px var(--black-color);
    top: -8px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    background: var(--orange-color);
    height: 100px;
    border-radius: 20px;
}
.team-card .card {
    max-width: 400px;
    text-align: center;
    color: var(--white-color);
    border-bottom: 4px solid var(--orange-color);
    padding: 5px 5px 20px;
    position: relative;
    background: var(--form-color);
    border-radius: 12px 12px 0 0;
    box-shadow: 0 0 3px 1px var(--white-color);
    overflow: hidden;
}
.team-card .card img {
    width: 250px;
    height: 250px;
    object-position: top;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    margin-bottom: 10px;
}
.team-card .card h2 {
    margin-bottom: 10px;
}
/*link team*/
.link-team {
    background-image: url("../../image/team-one.jpg");
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 5px 2px #000;
    padding: 5px;
    border-radius: 5%;
}
.link-team img {
    max-height: 300px;
    max-width: 300px;
    border-radius: 50% 50% 5px 5px;
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
}
.link-team-info {
    padding: 20px;
    color: var(--white-color);
}
.link-team-info h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
.link-team-info p {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
}
