.team {
    padding: 0 30px 50px;
    background: linear-gradient(90deg, var(--danger-color), var(--black-color) 50%, var(--danger-color));
    border-top: 2px solid var(--light-color);
    border-bottom: 2px solid var(--light-color);
    overflow: hidden;
}
.team .team-title {
    color: white;
    width: fit-content;
    position: relative;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 50px;
    border-bottom: 2px solid var(--main-color);
    border-radius: 20px;
    padding: 20px 20px;
    text-shadow: 0 0 5px white;
    border-top: 2px solid yellow;
    border-radius: 6px;
}
.team .team-title h1 {
    font-size: 30px;
    font-weight: bold;
}
.team .team-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
}
.team .team-card .icon {
    position: absolute;
    color: var(--light-color);
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    font-size: 30px;
    text-shadow: 0 0 10px var(--danger-color);
}
.team-card .card {
    max-width: 400px;
    text-align: center;
    color: var(--white-color);
    border-bottom: 4px solid var(--white-color);
    padding: 0 0 20px;
    position: relative;
    background: var(--form-color);
    border-radius: 12px 12px 50% 50%;
}
.team-card .card img {
    width: 250px;
    height: 250px;
    object-position: top;
    object-fit: cover;
    box-shadow: 0 0 5px var(--white-color);
    border-radius: 10px;
    margin-bottom: 10px;
}
.team-card .card h2 {
    margin-bottom: 10px;
}
/*link team*/
.one-of-theteam {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-team {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}
.link-team img {
    height: 50vh;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    max-width: 250px;
}
.link-team-info {
    padding: 20px;
}
.link-team-info h1 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0 0 5px black;
}
.link-team-info ul {
    list-style: disc;
    margin-bottom: 10px;
    text-align: start;
    margin-right: 20px;
    font-size: 20px;
}
.link-team-info ul h2 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 3px;
}
.link-team-info ul li {
    padding: 15px;
    font-size: 18px;
}