  .nav-header {
      width: 100%;
      height: 104px;
      background-color: var(--black-color);
      display: flex;
      justify-content: space-between;
  }
  .nav-header .bi-x-lg,
  .bi-list {
    display: none;
  }
  .nav-header img {
    border-radius: 50%;
    padding: 5px 20px;
  }
  .all-links {
    display: flex;
    flex-direction: column;
  }
  .nav-de,
  .nav-links {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 0;
      padding-right: 20px;
  }
  .nav-links {
    position: relative;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    background: var(--orange-color);
    border-radius: 0 0 0 40px;
  }
  .nav-links .dropdown {
    position: relative;
    transition: 0.3s;
    border-radius: 0 0 0 40px;
  }
  .dropdown .btn-drop {
    display: flex;
    align-items: center;
    min-width: 70px;
  }
  .dropdown .btn-drop .bi-caret-up-fill,
  .dropdown .btn-drop .bi-caret-down-fill {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -15px;
  }
  .dropdown .btn-drop .bi-caret-right-fill,
  .dropdown .btn-drop .bi-caret-left-fill {
    display: none;
  } 
  .dropdown .lists-drop {
    right: 0;
    width: 200px;
    position: absolute;
    top: 56px;
    background: var(--white-color);
    z-index: 15;
    text-align: center;
    padding: 0 10px 10px;
    clip-path: polygon(20% 0%, 80% 0%, 80% 0, 20% 0);
    transition: 0.5s;
    border-radius: 0 0 6px 6px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid var(--danger-color);
  }
  .dropdown .lists-drop .list-drop {
    border-radius: 0 !important;
  }
  .nav-de li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-color);
    font-size: 18px;
    padding: 6px;
  }
  .nav-de li i {
      background-color: var(--white-color);
      font-size: 20px;
      border-radius: 50%;
      padding: 5px;
      color: var(--danger-color);
      cursor: pointer;
      height: 36px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .nav-links li, 
  .nav-links a {
    border-bottom: 2px solid transparent;
    color: var(--black-color);
    padding: 12px 20px;
    transition: 0.3s;
    cursor: pointer;
  }
  .nav-links li:not(:last-child):hover,
  .nav-links a:not(:last-child):hover {
    border-bottom: 2px solid var(--black-color);
    color: var(--danger-color);
    background-color: var(--white-color);
  }
  .active {
    border-bottom: 2px solid var(--black-color) !important;
    color: var(--danger-color) !important;
    background-color: var(--white-color);
  }
  .nav-links li:last-child:hover,
  .nav-links a:last-child:hover {
    border-bottom: 2px solid var(--black-color);
    color: var(--danger-color);
    background-color: var(--white-color);
    border-radius: 0 0 0 40px;
  }
  .dropdown .lists-drop .bi-arrow-return-right {
    display: none;
  }
  /*navbar top*/
  .navbar-top {
    height: 50px;
    width: 100%;
    background-color: var(--orange-color);
    color: var(--danger-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
  }
  .navbar-top img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid #999;
    height: 40px;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-top h1 {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }
  /*header in media*/
  @media (max-width: 852px) {
    .nav-de > :nth-last-child(1) {
      display: none;
    } 
    .dropdown .lists-drop {
      left: -38px;
    }
  }
  @media (max-width: 780px) {
    .nav-header {
      position: relative;
    }
    .all-links {
      flex-direction: row;
      align-items: center;
    }
    .nav-header .bi-x-lg,
    .bi-list {
      position: absolute;
      right: 0;
      background-color: var(--white-color);
      font-size: 30px;
      border-radius: 50% 0 0 50%;
      cursor: pointer;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }
    .nav-links {
        position: absolute;
        top: 100%;
        flex-direction: column;
        border-bottom-left-radius: 5px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.5s;
        width: 50%;
        z-index: 30;
        overflow: hidden;
        background: var(--white-color);
        right: 0;
        padding: 10px 20px;
        border-bottom: 2px solid var(--light-color);
        border-left: 2px solid var(--light-color);
    }
    .dropdown .btn-drop .bi-caret-up-fill,
    .dropdown .btn-drop .bi-caret-down-fill {
      display: none;
    }
    .nav-links li, 
    .nav-links a,
    .nav-links .dropdown {
      flex-direction: row;
      display: flex;
      justify-content: start;
      border-bottom: 2px solid transparent;
      color: var(--black-color);
      padding: 12px;
      transition: 0.3s;
      cursor: pointer;
      width: 100%;
      text-align: right;
      border-radius: 0 !important;
    }
    .dropdown .btn-drop {
      justify-content: start;
    }
    .dropdown .btn-drop .bi-caret-right-fill,
    .dropdown .btn-drop .bi-caret-left-fill {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 100%;
      cursor: pointer;
      right: 0;
      font-size: 20px;
      width: 50%;
    }
    .dropdown .lists-drop  {
      right: 0px;
      width: 100%;
      position: absolute;
      top: -273px;
      height: 340px;
      background: var(--danger-color);
      z-index: 15;
      text-align: center;
      padding: 10px 10px;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      transition: 0.5s;
      border-radius: 0;
    }
    .dropdown .lists-drop .bi-arrow-return-right {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background: var(--white-color);
      padding: 5px;
      border-radius: 50%;
      display: flex;
      color: var(--danger-color);
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
    }
    .dropdown .lists-drop .list-drop {
      color: var(--white-color);
      padding: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      border-bottom: 2px solid transparent;
      border-radius: 0;
      text-align: center;
      transition: 0.3s;
    }
    .dropdown .lists-drop .list-drop:hover {
      border-bottom: 2px solid var(--white-color);
    }
    .nav-links::before {
      display: none;
    }
    .nav-de > :nth-last-child(1) {
      display: none;
    } 
    .nav-de {
      flex-wrap: wrap;
        gap: 0;
        justify-content: center;
        position: relative;
        right: 20px;
    }
    .nav-de li {
      font-size: 16px;
      padding: 8px;
    }
  }
  @media (max-width: 402px) {
    .nav-de {
      display: none;
    }
    .dropdown .btn-drop .bi-caret-right-fill, .dropdown .btn-drop .bi-caret-left-fill {
      width: 100%;
    }
    .dropdown .lists-drop {
      top: -272px;
      height: 338px;
    }
  }
  @media (max-width: 350px) {
    .nav-links {
      width: 100%;
      bottom: -342px;
      padding: 10px 0;
    }
    .dropdown .lists-drop {
      top: -273px;
      height: 338px;
    }
  }