.we-are {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
.we-are .logo-office {
    height: 50vh;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 10px var(--black-color);
}
.we-are-info {
    max-width: 500px;
    padding: 20px 10px;
    text-align: center;
    line-height: 2;
}
.we-are-info h1 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 2px BLACK;
    color: var(--white-color);
}
.we-are-info p {
    color: #dedede;
    font-size: 18px;
    letter-spacing: 0.5px;
}