.we-are {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    background-image: linear-gradient(-45deg, var(--danger-color), var(--black-color), var(--red-color), var(--black-color), var(--danger-color));
    border-radius: 60px 10px 50px 10px;
    margin: 10px;
}
.we-are .logo-office {
    max-height: 400px;
    object-fit: cover;
    border-radius: 12px;
    padding: 20px;
}
.we-are-info {
    max-width: 500px;
    padding: 20px 10px;
    text-align: center;
    line-height: 2;
}
.we-are-info h1 {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 0 2px BLACK;
    color: var(--white-color);
    margin-bottom: 20px;
}
.we-are-info p {
    color: var(--white-color);
    font-size: 18px;
    letter-spacing: 0.5px;
}
.we-are-info ul {
    list-style: disc;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 30px;
    gap: 20px;
    font-size: 18px;
}
@media (max-width: 400px) {
    .we-are .logo-office {
        height: 100%;
        width: 100%;
    }
}