.write-show {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px 0;
    margin: 20px 0;
    flex-wrap: wrap;
}
.write-show button {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 5px var(--red-color);
    transition: 0.3s;
    position: relative;
}
.write-show button:hover {
    box-shadow: 0 0 5px var(--orange-color);
}
.write-show button h1 {
    position: absolute;
    background: var(--light-color);
    top: 0;
    right: 0;
    border-radius: 6px;
    color: var(--black-color);
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}
.write-show button img {
    width: 300px;
    height: 350px;
    border-radius: 12px;
}
.write-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.write-text textarea {
    color: var(--black-color);
    width: 100%;
    font-size: 18px;
    line-height: 2;
    padding: 20px;
    border-radius: 10px;
    overflow: scroll;
    outline: none;
    border: 5px solid var(--light-color);
}
.write-text button {
    /* text-align: center;
    background: var(--);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; */
}