@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --danger-color: #bc4848;
  --red-color: #ff5656;
  --light-color: #ffd700;
  --orange-color: #ffd558;
}
body {
  min-height: 100vh;
  background: #191c22;
  font-family: "Amiri", serif;
  direction: rtl;
}
.amiri-regular {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;
}

.amiri-bold {
  font-family: "Amiri", serif;
  font-weight: 700;
  font-style: normal;
}

.amiri-regular-italic {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: italic;
}

.amiri-bold-italic {
  font-family: "Amiri", serif;
  font-weight: 700;
  font-style: italic;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
    padding: 20px 30px;
    width: 100%;
    color: var(--white-color);
    min-height: 100vh;
    background: linear-gradient(45deg, var(--black-color), var(--danger-color), var(--black-color));
    position: relative;
    z-index: 2;
}
.btn-click {
  padding: 20px;
  font-size: 20px;
  border-radius: 12px;
  box-shadow: 0 0 5px var(--black-color);
  background: var(--danger-color);
  color: var(--white-color);
  outline: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  min-width: 250px;
  text-align: center;
}
.btn-click:hover {
  background-color: var(--red-color);
}
@media (max-width: 400px) {
  section {
    padding: 20px 0;
  }
  .btn-click {
    width: 100%;
    min-width: 0;
    letter-spacing: 2px;
    padding: 10px;
  }
}