.title {
    position: relative;
    padding: 30px;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    color: var(--white-color);
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    max-width: 500px;
    line-height: 2;
}
.title h1 {
    font-size: 35px;
    font-weight: bold;
}
.title .div-button {
    padding-bottom: 20px;
    font-size: 20px;
    border-bottom: 2px solid var(--orange-color);
    position: relative;
}
.title .la,
.title .wy,
.title .er {
    color: var(--black-color);
    position: absolute;
    background: var(--orange-color);
    padding: 0px 10px;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    bottom: -18px;
}
.title .la {
    left: 0;
}
.title .wy {
    right: 50%;
    transform: translateX(50%);
}
.title .er {
    right: 0;
}
@media (max-width: 400px) {
    .title {
        padding: 10px;
    }
    .title h1 {
        font-size: 25px;
    }
    .title p {
        font-size: 18px;
    }
    .title span {
        bottom: -9px;
    }
}